#image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placeholder-image {
  display: block;
  width: 300px;
  height: 400px;
  background-color: #eee;
  position: relative;
}

.placeholder-image.loaded {
  display: block;
  width: 300px;
  height: 400px;
  background-color: #eee;
  position: relative;
}

.placeholder-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.lazy-image {
  display: block;
  width: 300px;
  height: 400px;
  position: relative;
  background-color: #eee;
  transition: opacity 1s, filter 1s;
  opacity: 0;
  filter: blur(10px);
}

.lazy-image.loaded {
  display: block;
  opacity: 1;
  filter: blur(0);
}


