:root {
  /* 4 colors chosen */
  --primary-color: #3B5E45;
  --secondary-color: #444444;
  --accent1-color: #008080;
  --accent2-color: #87AE73;

  /* chosen font(s) */
  --heading-font: "Montserrat";
  --paragraph-font: 'Open Sans', 'sans-serif';


  --headline-color-on-white: #3B5E45;  /* headlines on a white background */ 
  --headline-color-on-color: #ffffff; /* headlines on a colored background */ 
  --paragraph-color-on-white: #3B5E45; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #ffffff; /* paragraph text on a colored background */ 
  --paragraph-background-color: #3B5E45;
  --nav-link-color: white;
  --nav-background-color: #3B5E45;
  --nav-hover-link-color: #E1E5F2;
  --nav-hover-background-color: #022B3A;
}


body {
  max-width: 900px;
  margin: 0 auto;
  padding: 4em;
  font-size: 17px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h1, h2, h3 {
  text-align: center;
}

hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}

header {
  padding: 1em;
  text-align: center;
  font-size: 1.1em;
  background-color: var(--paragraph-background-color);
}

header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}

.colors th {
  background-color: #999;
}

.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  flex-direction: column;
}
nav  {
  list-style-type: none;
  display: flex;
  flex: 1 1 auto;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

footer p{
   color: black;
   font-size: 1.2em;
}

