@media only screen and (min-width: 70em)
{

  /* ############################## Home Page ##################################### */

  /* ## Header Section ## */

  .headings h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  .navi li {
		display: block;
	}

  .navi li:first-child {
		display: none;
	}

  .logo img {
    width: 50vw; /* Adjust the logo width based on the viewport width */
  }

  /* Modify the .buffer class for large screens */
  #social-buffer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  /* Make sure your child elements fit nicely side by side */
  .social-links-card, .weather-widget, .forecast-widget {
    width: 30%;  /* Adjust as needed */
    margin: 5px;
    padding: 5px;
  }


  /* ############################## Fresh Page ##################################### */
  
  label {
    color: black;
    display: block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;

  }
}
