@media only screen and (min-width: 90em){
  header {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center; /* Center items along the main axis */
    align-items: center; /* Center items along the cross axis */
    flex-wrap: wrap; 
    background-color: #0076b6;
    box-shadow: 0px 0px 10px 5px #6f7364;
    border-radius: 10px;
  }
  
  header h1 {
    color: white;
    padding: 70px;
    justify-content: center;
    align-items: center;
  }

  #visualhierarchy{
    display: grid;
    grid-column: 1/2;
  }

  #WhiteSpace{
    display: grid;
    grid-column: 2/3;
  }

  #PARC {
    width: unset;
    display: grid;
    grid-column: 3/4;
    justify-content: center; /* Center items along the main axis */
    align-items: center; /* Center items along the cross axis */
  }

  #PARC img{
    width: unset;
  }

  #visualhierarchy, #WhiteSpace, #PARC {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #2424FF;
    text-align: center;
    color: white;
    font-size: 1.2em;
  }
  
  #view {  
    display: grid;
    height: auto;
    width: 100vw;
    grid-gap: 20px;
    justify-content: center; /* Center items along the main axis */
    align-items: center; /* Center items along the cross axis */
  }
  
  footer {
    font-family: 'Antic Slab','Cinzel Decorative','sans-serif';
    color: white;
    height: auto;
    width: 100vw;
    background-color: #0076b6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #6f7364;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
}