header {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center; /* Center items along the main axis */
  align-items: center; /* Center items along the cross axis */
  flex-wrap: wrap; 
  background-color: #0076b6;
  box-shadow: 0px 0px 10px 5px #6f7364;
}

header h1 {
  color: white;
  padding: 70px;
  grid-column: 1/2;
  justify-content: center;
  align-items: center;
}

header h2{
  display: none;
}

#view {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center; /* Center items along the main axis */
  align-items: center; /* Center items along the cross axis */
  flex-wrap: wrap; 
}

#visualhierarchy, #WhiteSpace, #PARC {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #5e7dac;
  text-align: center;

}

.image-item {
 display: block;
}

.title {
  margin: auto;
}

footer {
  font-family: 'Antic Slab','Cinzel Decorative','sans-serif';
  color: white;
  height: auto;
  width: 100vw;
  background-color: #0076b6;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #6f7364;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}