header {
  height: auto;
  width: 390px;
  background-color: #0076b6;
  box-shadow: 0px 0px 10px 5px #6f7364;
}

header h1 {
  color: white;
  padding: 70px;
  grid-column: 1/2;
  justify-content: center;
  align-items: center;
}

header h2{
  display: none;
}

main {
  flex:content
}

footer {
  font-family: 'Antic Slab','Cinzel Decorative','sans-serif';
  color: white;
  height: auto;
  width: 600px;
  background-color: #0076b6;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #6f7364;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}