header {
  height: 250px;
  width: 600px;
  background-color: #0076b6;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  box-shadow: 0px 0px 10px 5px #6f7364;
  border-radius: 10px;
}

header img {
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  padding: 20px 0px 0px 20px;
}

header h1 {
  color: white;
  padding: 70px;
  grid-column: 2/4;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
}

footer {
  font-family: 'Antic Slab','Cinzel Decorative','sans-serif';
  color: white;
  height: 90px;
  width: 600px;
  background-color: #0076b6;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #6f7364;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}