
html {
	font-size: 16px;
}

/*header */

header{
  background-color: #3B5E45;
	width: 100vw;
  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 35px;
  align-items: center;
}

.logo {
	grid-row: 1/2;
	grid-column: 2/3;
	justify-self: center;
	text-align: center;
}

.logo img {
	width: 100%;
	max-width: 250px; /* Set a maximum width for the logo */
	height: auto;
}

.headings {
	grid-row: 2/3;
	grid-column: 1/4;
	display: flex;
	flex-direction: column;
	margin-left: 0.5rem;
	justify-self: center;
	align-items: center;
	color: white;
}

.headings h1 {
	font-size: 2rem;
	margin: 0;
}

.headings h2 {
	font-size: 2rem;
	margin: 0;
}

.social {
	margin-right: 1.5rem;
	grid-row: 1/2;
	grid-column: 3/4;
}

#datefield {
grid-row: 3/4;
grid-column: 1/4;
padding: 2px;
border: 2px solid white;
color: white;
justify-self: center;
align-self: center;
font-size: 20px;
}

/* Navigation */
#navcon {
	display: flex;
	align-items: center;
}

.hamburger {
  display: flex;
  align-items: center;
	padding: 10px 10px 10px 10px;
}

nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #3B5E45;
	padding: 15px 15px 15px 15px
}

.navi {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.navi li {
	display: none;
	padding: 10px 10px 10px 10px;
}

.navi li:first-child {
	display: block;
}

.navi a {
	display: flex;
	color: #fff;
	text-decoration: none;
}

.navi a:hover {
	color: #000;
	background-color: #fff;
	font-weight: 700;
}

/* the onclick JS toggles the .responsive class from display none (.navi li) to display block because the responsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navi responsive">
  */
.navi.responsive {
	flex-direction: column;
}

.navi.responsive li {
  display: block;
	margin: 10px 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 70px;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
	color: white;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
	margin-left: 0;
}

#main.pushed {
  margin-left: 220px; 
}

#header.pushed {
	margin-left: 220px; 
}

#footer.pushed {
	margin-left: 220px;
}

  /* Responsive Navigation */
@media only screen and (min-width: 33em){
	.navi {
		display: flex;
		flex-direction: row;
	}
	.navi li {
		display: block;
		flex: 1 1 100%;
	}
	.navi li a {
		color: white;
		text-align: center;
	}
	
	.navi li:first-child {
		display: none;
	}

	.logo img {
    width: 20vw; /* Adjust the logo width based on the viewport width */
  }
	
}

@media only screen and (min-width: 90em){

	.logo img {
    width: 50vw; /* Adjust the logo width based on the viewport width */
  }
  
}