
html {
	font-size: 16px;
}

/* Banner */

#banner {
  display: none;
}

body{
	background-color: #3B5E45;
}

:is(header) > #banner {
	display: block;
	grid-column: 1/4;
	grid-row: 2/3;
	background-color: #87AE73;
	font-size: small;
	text-align: center;
	/* Add your additional styling for the banner in the header grid */
}

/*header */

.header-banner-days {
  grid-template-rows: 1fr 50px 50px; /* Update the grid template for Tuesday and Wednesday */
}

.header-banner-days  #datefield {
	grid-row: 3/4;
}

header{
  background-color: #3B5E45;
	width: 100vw;
  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 50px;
  align-items: center;
}

.logo {
	grid-row: 1/2;
	grid-column: 1/2;
	justify-self: center;
	text-align: center;
	transform: scale(0.8);
}

.logo img {
	width: 100%;
	max-width: 250px; /* Set a maximum width for the logo */
	height: auto;
}

.headings {
	grid-row: 1/2;
	grid-column: 2/3;
	display: flex;
	flex-direction: column;
	margin-left: 0.2rem;
	justify-self: center;
	align-items: center;
	color: white;
}

.headings h1 {
	font-size: 0.8rem;
	margin: 0;
}

.headings h2 {
	font-size: 0.8rem;
	margin: 0;
}

/* Social media */

.social {
	grid-row: 2/3;
	grid-column: 1/2;
	font-size: 16px;
	transform: scale(0.8);

}

.social a:hover img {
	transform: scale(1.4);
}

.social a {
	padding: 5px;
}

#linkedin {
	background-color: white;
}

#datefield {
grid-row: 2/3;
grid-column: 1/4;
display: block;
padding: 18px;
border: 2px solid white;
color: white;
background-color: #4e524f;
font-size: 3vw;
text-align: center;
}

/* Navigation */

#navcon {
	grid-row: 1/2;
	grid-column: 3/4;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.hamburger {
  display: flex;
  align-items: center;
	padding: 7px;
	border: 1px solid white;
}

nav {
	padding: 5px;
	justify-self: center;
}

.navi {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	background-color: #3B5E45;
	justify-content: flex-end;
}

.navi li {
	display: none;
	padding: 5px;
}

.navi li:first-child {
	display: block;
}

.navi a {
	display: flex;
	color: #fff;
	text-decoration: none;
}

.navi a:hover {
	color: #000;
	background-color: #fff;
	font-weight: 700;
}

.navi.responsive {
	flex-direction: column;
}

.navi.responsive li {
  display: block;
	margin: 10px 0;
}

/* side Nav with js */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 70px;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f149;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
	color: white;
}

 /* for JS Nav movement */

#main.pushed {
  margin-right: 240px; 
}

#header.pushed {
	margin-right: 240px; 
}

#footer.pushed {
	margin-right: 240px;
}

/* Discover lazy loading section */

#image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placeholder-image {
  display: block;
  width: 300px;
  height: 400px;
  background-color: #eee;
  position: relative;
}

.placeholder-image.loaded {
  display: block;
  width: 300px;
  height: 400px;
  background-color: #eee;
  position: relative;
}

.placeholder-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.lazy-image {
  display: block;
  width: 300px;
  height: 400px;
  position: relative;
  background-color: #eee;
  transition: opacity 1s, filter 1s;
  opacity: 0;
  filter: blur(10px);
}

.lazy-image.loaded {
  display: block;
  opacity: 1;
  filter: blur(0);
}



 /* main section */

 .mainclass {
	background-color: #5D8BA2;
	padding: 10px;
 }

#main {
  transition: margin-left 0.5s;
  padding: 10px;
	margin-left: 3px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.image-container:hover img {
  opacity: 0.8;
}


#hero, #event, #weather, #join, #news, .spotlight {
  background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	margin: 5px 5px 5px 5px;
	text-align: center;
}

/* Hero section */

#hero {
	grid-row: 1/2;
	grid-column: 1/2;
	position: relative;
	display: flex;
}

#hero-box {
	flex: 1;
	position: relative;
	overflow: hidden;
}

#hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
	border-radius: 10px;
}

.hero-title {
	position: absolute;
  top: 70%;
  left: 65%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 1.6rem;
  text-align: center;
	background-color: #000;
	border-radius: 10px;
	white-space: nowrap;
	padding: 5px;
	background-color: #87AE73;
}

.hero-title:active {
	transform: translate(-52%, -52%);
}

.welcome-title {
	position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  background-color: #00000000;
  border-radius: 10px;
	white-space: nowrap;
}

#event {
	grid-row: 2/3;
	grid-column: 1/2;
}

/* Weather section */

#weather {
	grid-row: 3/4;
	grid-column: 1/2;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#temperature {
  font-size: 50px;
  margin: 0;
}

#condition {
  font-size: 20px;
  margin: 0;
}

#location {
  font-size: 20px;
  margin: 0;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #2980B9;
  color: #FFFFFF;
  cursor: pointer;
}

/* ***** */

#join {
	display: none;
}

#news {
	grid-row: 4/5;
	grid-column: 1/2;
}
.spotlight {
  background-color: #5D8BA2;
	grid-row: 5/6;
	grid-column: 1/2;
}

#spot1, #spot2, #spot3 {
  background-color: white;
	padding: 5px;
	margin: 7px 5px 7px 5px;
}

#spot1 {
	border: 1px solid black;
}

#spot2 {
	border: 1px solid black;
}

#spot3 {
	display: none;
	border: 1px solid black;
}

footer{
  background-color: #3B5E45;
	width: 100vw;
	text-align: center;
}

#footer-logo {
	transform: scale(1);
	display: inline-block;
	vertical-align: middle;
}

#footer-logo img {
	width: 100%;
	max-width: 250px; /* Set a maximum width for the logo */
	height: auto;
}

.footer-headings {
	color: white;
	display: inline-block;
  text-align: left;
	margin-right: 5px;
  margin-left: 20px; /* Adjust the margin as needed */
	vertical-align: middle;
}

.footer-headings p {
	margin: 2px;
}

#loc {
	color: white;
}

#base-footer {
	color: white;
	text-align: center;
}

/* ######################################### Join Page ####################################################### */

.join-main {
	padding: 10px;
  background-color: #5D8BA2;
  font-family: Arial, sans-serif;
}

.join-main form fieldset {
  max-width: 250px;
	margin: 1rem 2%;
	padding: 2% 1rem;
}

.membership-details {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.membership-info {
  flex-direction: column;
  justify-content: flex-start; /* Align to the top */
  align-items: flex-start; /* Align to the left */
}

.membership-details {
  flex: none; /* Reset flex value to default */
}

/* ######################################### Discovery Page ################################################## */

.directorybody {
	padding: 10px;
  background-color: #5D8BA2;
  font-family: Arial, sans-serif;
}

div.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
  margin: 20px;
}

.directorysection {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.directoryh2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #000000;
}

.directoryimg {
	display: block;
  border-radius: 8px;
  margin: 0 auto;
}

.directoryp {
  font-size: 16px;
  margin-bottom: 8px;
  color: #000000;
}

list {
  display: none; /* Initially hide the list */
  list-style: none;
  padding: 0;
}

.list .directorylistitem {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.list .directorylistname {
  font-weight: bold;
}

.list .directorylistaddress,
.list .directorylistphone,
.list .directorylistwebsite,
.list .directorylistmembership {
  display: block;
  margin-top: 5px;
}

.list .directorylistwebsite {
  color: blue;
  text-decoration: underline;
}

.row {
  display: flex;
}

.col {
  flex-basis: 20%; /* Adjust the width as needed */
  padding: 5px;
}

/* ################################################## Contact Us Page ################################ */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}