
/*header */

header{
  background-color: #3B5E45;
	width: 100%;
  display: flex;
  align-items: center;
  align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 100px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: 0.5rem;
}

.headings h1 {
	font-size: 1.25rem;
	margin: 0;
}

.social {
	margin-right: 1.5rem;
}


/* Navigation */
nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #3B5E45;
}

.navi {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.navi li {
	display: none;
	margin-right: 10px;
}

.navi li:first-child {
	display: block;
}


.navi a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-decoration: none;
}

.navi a:hover {
	color: #000;
	background-color: #fff;
	font-weight: 700;
}


/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
  .navi.responsive li {
    display: block;
		margin: 10px 0;
  }



	@media only screen and (min-width: 33em){
		.navi {
			display: flex;
		}
		.navi li {
			display: block; /* needed because of state in small view */
			flex: 1 1 100%;
		}
		.navi li a {
			color: white;
			text-align: center;
		}
		
		.navi li:first-child {
			display: none;
		}
		
	}



	@media only screen and (min-width: 90em){
  
	}